#mybody{
	height:500px;
	overflow-y:scroll;
	overflow-x:hidden;
	display:block;
}
#myhead{
	display:block;
}
.col_name{
	width: 200px;
	display:block;
}
.col_address{
	width: 600px;
}
#client_dialog{
	display:none;
}
.common_paragraph{
	font-size: 12px;
	font-family: verdana;
}
.general_form{
	font-size: 12px;
	font-family: verdana;
}

/*text boxes*/

.text_float_medium{
	float:left;
	width:100px;
	text-align:right;
	margin-right:0.2em;
}

/* divs */

.header{
	background-image: linear-gradient(bottom, darkkhaki, blanchedalmond );
	background-image: -moz-linear-gradient(bottom,darkkhaki, blanchedalmond );
	background-image: -webkit-linear-gradient(bottom, darkkhaki, blanchedalmond );
	background-image: -o-linear-gradient(bottom, darkkhaki, blanchedalmond );
	background-image: -ms-linear-gradient(bottom, darkkhaki, blanchedalmond );
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-o-border-radius: 4px 4px 0px 0px;
	-ms-border-radius: 4px 4px 0px 0px;
	padding: 10px 10px 10px 10px;
	color: blue;
}
.footer{
	padding: 2px 2px 2px 2px;
	background:black;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	position:absolute;
	bottom:0;
}