.padi_form{
	margin-top:1px;
	padding: 10px 10px 10px 10px;
	background: blue;
	background-image: -moz-linear-gradient(top,cadetblue, blue );
	background-image: -webkit-linear-gradient(top, blue,black);
	background-image: linear-gradient(top, blue,black);
	background-image: -o-linear-gradient(top, blue,black);
	background-image: -ms-linear-gradient(top, blue,black);
	color: white;
}
#row_button{
	background-image:url('smoothness/images/ui-icons_cd0a0a_256x240.png');
	width: 16px;
	height:16px;
	background-position: -64px -112px;
	display: inline-block; 
	position: relative; 
	padding: 0; margin-right: .1em; 
	text-decoration: none !important; 
	cursor: pointer; 
	text-align: center; 
	zoom: 1; 
	overflow: visible; 
}
body{
	font-size:12px;
}
/*
text input length
*/
.text_very_short{
	width:50px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 0.5em;
}
.text_short{
	width:200px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 0.5em;
}
.text_medium{
	width:300px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 0.5em;
}
.text_long{
	width:400px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 0.5em;
}
.text_extra_long{
	width:500px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	margin-left: 0.5em;
}
.dtpicker{
	margin-left: 0.5em;
	position:relative;
	width:6.5em;
}
/*
label length
*/
.label_float_long{
	width:200px;
	float:left;
	position:relative;
	top:5px;
	text-align:right;
	vertical-align: bottom;
	padding-right: 5px;
	display: block;
	clear:left;
	margin-right: 0.5em;
	white-space:nowrap;
}
p.label_field_pair{
	clear:both;
	float:none;
}
#upload_iframe{
	border:0px;
	width: 500px;
}
.humanize{
	text-transform: capitalize;
}
#header {
	background-image: -moz-linear-gradient(top, rgb(96,96,96),black );
	background-image: -webkit-linear-gradient(top, rgb(96,96,96),black);
	background-image: linear-gradient(top, rgb(96,96,96),black);
	background-image: -o-linear-gradient(top, rgb(96,96,96),black);
	background-image: -ms-linear-gradient(top, rgb(96,96,96),black);
	color: yellow;
	padding: 10px 10px 10px 10px;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-o-border-radius: 7px 7px 0px 0px;
	-ms-border-radius: 7px 7px 0px 0px;
}
#footer{
	bottom: 200px;
}
.custom_info{
	width: 100px;
	float: left;
}
.common_table{
	font-size:12px;
	width:100%;
	margin: 0px;
	border:0px;
	padding:0px;
}
.common_table thead{
	margin: 0px;
	padding: 10px;
	border:0px;
	background:silver;
}
.common_table thead tr{
	margin: 0px;
	padding: 10px;
	border: 0px;
	background:silver;
}
.common_table thead tr th{
	margin: 0px;
	padding: 10px;
	background:silver;
	color: black;
}
.common_table thead tr th a{
	margin: 0px;
	padding: 10px;
	background:silver;
	color: black;
}

.common_table tbody tr td{
	padding: 0px 0px 0px 5px;
}
.common_table tbody tr:nth-child(odd){
	background: lightsteelblue;
}
.common_table tbody tr:nth-child(even){
	background: azure;
}
.common_table tbody tr td:nth-child(n+3){
	text-align:center;
}
.common_table tbody tr:hover{
	padding: 0px 0px 0px 5px;
	background:mistyrose;
	cursor:pointer;
}
.common_iframe{
	width: 100%;
}
.navigation{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background: burlywood;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	width:500px;
	padding: 7px 7px 7px 7px ;
	margin-top:5px; 
}
.search{
	margin: 0px 0px 0px 0px;
	padding: 1px 1px 0px 1px;
	background:rgb(96,96,96);
	margin-top: 1px;
	color: white;
	padding: 2px 0px 2px 2px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-o-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-ms-border-radius: 0px 0px 0px 0px;
}
.navigator{
	background-image: linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	background-image: -webkit-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	background-image: -moz-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	background-image: -o-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	background-image: -ms-linear-gradient(top,rgb(40,40,40),rgb(120,120,120));
	color: black;
	padding: 5px;
	border-radius: 5px;-moz-border-radius: 5px; -o-border-radius: 5px;-ms-border-radius: 5px;-webkit-border-radius: 5px;
	margin: 1px;
}
.menu{
	background:rgb(120,120,120);
	color: black;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px; 
	-o-border-radius: 0px 0px 10px 10px;
	-ms-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	margin: 1px;
}
.pagination{
	background: silver;
	padding: 5px;
	color: darkblue;
	border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px; 
	-o-border-radius: 0px 0px 7px 7px;
	-ms-border-radius: 0px 0px 7px 7px;
	-webkit-border-radius: 0px 0px 7px 7px;
}
.pagination a{
	color: blue;
}
.fb_view{
	height: 300px;
	background: brown;
}
.form_class{
	margin-top:5px;
}
.galery{
	width: 50px;
	height: 50px;
}
.login{
	margin-top:15px;
	margin-left: auto;
	margin-right:auto;
	width:500px;
	background-image:linear-gradient(left bottom,rgb(150,150,150),darksalmon,rgb(150,150,150));
	background-image:-moz-linear-gradient(left bottom,rgb(150,150,150),darksalmon,rgb(150,150,150));
	background-image:-webkit-linear-gradient(left bottom,rgb(150,150,150),darksalmon,rgb(150,150,150));
	background-image:-o-linear-gradient(left bottom,rgb(150,150,150),darksalmon,rgb(150,150,150));
	background-image:-ms-linear-gradient(left bottom,rgb(150,150,150),darksalmon,rgb(150,150,150));
	padding: 50px 0px 50px 0px;
	border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
}
.link_text{
	text-decoration: none;
	color:black;
}
.link_text:visited{
	text-decoration: none;
	color:black;
}
.link_text:hover{
	text-decoration: none;
	color:black;
}
.link_text:active{
	text-decoration: none;
	color:black;
}
.td-button{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	border: 1px black solid;
	height: 30px;
	text-align: center;
	width:60px;
	background-image: -moz-linear-gradient(bottom,silver,whitesmoke);
	background-image: -webkit-linear-gradient(bottom,silver,whitesmoke);
	background-image: -o-linear-gradient(bottom,silver,whitesmoke);
	background-image: -ms-linear-gradient(bottom,silver,whitesmoke);
}
.td-button:hover{
	background:brown;
	color: blue;
	text-align: center;
	background-image: -moz-linear-gradient(bottom,mistyrose,whitesmoke);
	background-image: -webkit-linear-gradient(bottom,mistyrose,whitesmoke);
	background-image: -o-linear-gradient(bottom,mistyrose,whitesmoke);
	background-image: -ms-linear-gradient(bottom,mistyrose,whitesmoke);
}
#project{
	background:green;
	background-image: -moz-linear-gradient(bottom,mistyrose,whitesmoke);
	background-image: -webkit-linear-gradient(bottom,mistyrose,whitesmoke);
	background-image: -o-linear-gradient(bottom,mistyrose,whitesmoke);
	background-image: -ms-linear-gradient(bottom,mistyrose,whitesmoke);
}
#webapplication{
	background:green;
	background-image: -moz-linear-gradient(bottom,beige,whitesmoke);
	background-image: -webkit-linear-gradient(bottom,beige,whitesmoke);
	background-image: -o-linear-gradient(bottom,beige,whitesmoke);
	background-image: -ms-linear-gradient(bottom,beige,whitesmoke);
}
#kategori{
	background:green;
	background-image: -moz-linear-gradient(bottom,silver,whitesmoke);
	background-image: -webkit-linear-gradient(bottom,silver,whitesmoke);
	background-image: -o-linear-gradient(bottom,silver,whitesmoke);
	background-image: -ms-linear-gradient(bottom,silver,whitesmoke);
}
.fb{
	background:green;
	background-image: -moz-linear-gradient(bottom,silver,whitesmoke);
	background-image: -webkit-linear-gradient(bottom,silver,whitesmoke);
	background-image: -o-linear-gradient(bottom,silver,whitesmoke);
	background-image: -ms-linear-gradient(bottom,silver,whitesmoke);
}
#save_confirmation{
	display:none;
}
.must_be_filled_sign{
	color:red;
	margin-left:1em;
}