a.header:link{
	color:whitesmoke;
}
a.header:visited{
color:whitesmoke;
}
a.header:hover{
	color:gold;
}
.category{
padding-left:10px;
}
#desc{
	position:absolute;
	left:10px;
	top	:10px;
	color:blue;
}
#logo{
text-align:center;
background: white;
}
* {
padding: 0;
margin: 0;
}
body {
font-family: "lucida sans", verdana, arial, helvetica, sans-serif;
font-size: 75%;
}
h1 {
font-size: 1.4em;
padding: 10px 10px 0;
}
p {
padding: 0 10px 1em;
}
html, body {
height: 100%;
}
#container{
min-height: 100%;
background-color: #DDD;
border-left: 2px solid #666;
border-right: 2px solid #666;
width: 100%px;
margin: 0 auto;
}
#navigator{
width: 100%;
background-color: #000;
color: gold;
text-align: center;
height: 70px;
padding-top: 10px;
margin: -70px auto 0 auto;
}
#footer{
width: 100%;
background-color: #000;
color: #DDD;
text-align: center;
height: 70px;
padding-top: 10px;
margin: -50px auto 0 auto;
}
.pagination a{
	height: 15px;
	font-size:8px;
	color:green;
	font-weight:bold;
}
.button{
font-size:12px;
}
.table_button{
	font-size:10px;
}
.lib_table_body_odd:hover{
	background: silver;
	cursor:pointer;
}
.lib_table_body_even:hover{
	background: silver;
	cursor:pointer;
}
.table-display{
	width:100%;
}
.thead-display{
	background:black;
	color:whitesmoke;
}

.tableless_login_label{
float: left;
width: 120px;
font-weight: bold;
}
.tableless_login_input{
width: 220px;
font-weight: bold;
}

.lib_table_body_odd{
	background:bisque;
}
.lib_table_body_even{
	background:cornsilk;
}
.tableless_label{
float: left;
text-align:right;
margin-right: 10px;
width: 180px;
font-weight: bold;
}
.tableless_input, .tableless_textarea{
	margin-bottom: 5px;
}
.divtitle{
font-weight:bold;
width:180px;
text-align:left;
}
.phone_area{
	width:50px;
}
.input_person_name{
	width:480px;
}
.input_description{
	width:500px;
}
.input_short{
	width:300px;
}
.input_address{
	width:600px;
}
.input_email{
	width:300px;
}
.input_telp{
	width:200px;
}
.input_ktp{
	width:300px;
}
.tableless_textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

.tableless_br{
clear: left;
}
.wide .tableless_input{
	width: 300px;
}
.semi_wide .tableless_input{
	width: 600px;
}
.extra_wide .tableless_input{
	width: 900px;
}
.radio{
  width: 29px;
  }
#form_error{
	visibility: hidden;
	}
.error_label{
	color:red;
}
#adv_search{
	display:none;
}
#ins_search{
	display:none;
}
.tab_dataperusahaan :hover{
color:red;
cursor:pointer;
}
.tab_detail :hover{
color:red;
cursor:pointer;
}
.tab_datapemohon :hover{
color:red;
cursor:pointer;
}
.tab_dataadministrasi :hover{
color:red;
cursor:pointer;
}
.tab_datasetup :hover{
color:red;
cursor:pointer;
}
.tab_datatagihan :hover{
color:red;
cursor:pointer;
}
.tab_datasupportteknis :hover{
color:red;
cursor:pointer;
}
.tab_datapenanggungjawab :hover{
color:red;
cursor:pointer;
}
.tab_biayaberlangganan :hover{
color:red;
cursor:pointer;
}
.tab_status :hover{
color:red;
cursor:pointer;
}
.tab_dokumen :hover{
color:red;
cursor:pointer;
}
.tab_webapp :hover{
color:red;
cursor:pointer;
}
.tab_project :hover{
color:red;
cursor:pointer;
}
.tab_maintenance :hover{
color:red;
cursor:pointer;
}
.tab_domainhosting :hover{
color:red;
cursor:pointer;
}
.tab_catatan :hover{
color:red;
cursor:pointer;
}
#adv_search_button{
display:none;
}
