body {
	font: normal 11px Tahoma;
	margin: 0;
	background: url(../images/bg.jpg) repeat-x;
}

img {
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #D3A503;
}

a:hover {
	text-decoration: underline;
}

#wrap {
	width: 933px;
	margin: 0 auto;
}

#header {
	height: 105px;
	margin-right: 9px;
}

#header .left {
	float: left;
	width: 50%;
}

#header .right {
	float: right;
	width: 209px;
}

#header .right .login  {
	position: absolute;
	height: 93px; /* 26px */
	width: 209px;
	padding-top: 5px;
	background: #000;
	text-align: center;
	border: 1px solid #FFF;
	top: -73px;
}

.middle .login  {
	clear: both;
	padding: 10px;
	width: 209px;
	/*background: #000;*/
	text-align: center;
	border: 1px solid #FFF;
	margin: auto;
}

.left .side-menu .login {
	clear: both;
	padding: 5px 0;
	/*width: 209px;*/
	/*background: #000;*/
	text-align: center;
	/*border: 1px solid #FFF;*/
	margin: auto;
}

#header .right .login input {
	text-align: center;
}

a.login_member, a.login_member:visited {
	text-decoration: none;
	color: #FFF;
	font-size: 12px;
}

a.login_member:hover {
	color: #CC9900;
}

#header .right .search {
	margin-top: 54px;
}

input.search_text {
	background: url(../images/search.jpg) no-repeat;
	width: 190px;
	height: 18px; 
	margin: 0;
	padding: 1px 18px 1px 1px;
	border: 0;
	font-style: italic;
}

#menu {
	position: inherit;
	height: 37px;
	background: url(../images/menu-top.jpg) repeat-x;
	margin-right: 9px;
}

#menu ul {
	margin: 0;
	padding: 1px 1px 0 1px;
	list-style: none;
}

#menu ul li {
	float: left;
	border-right: 1px solid #363636;
}

#menu ul li a {
	display: block;
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	height: 23px;
	padding: 5px 18px 0 18px;
}

#menu ul li a:hover, #menu ul li a.active {
	color: #000;
	background: #FFF;
}

#menu ul li.last {
	border-right: 0;
} 

#banner {
	height: 191px;
	background: url(../images/shadow-side.jpg) right top repeat-y;
}

#banner .image {
	height: 181px;
	padding-right: 9px;
	background: url(../images/shadow-top.jpg) right top no-repeat;
}

#banner .shadow {
	height: 10px;
	background: url(../images/shadow-bottom.jpg) no-repeat;
}

#banner .news {	
	position: absolute;
	background: url(../images/bg-news.png) no-repeat;
	width: 345px;
	height: 181px;
	z-index: 100;
}

#banner .news .title {
	height: 30px; /* 38px */
	padding: 8px 0 0 10px;
	color: #FFF;
	font: normal 18px Arial;
}

#banner .news .content_news {
	padding: 15px 35px;
	font: normal 12px Arial;
}

#banner .news a {
	text-decoration: none;
	color: #FFF;
}	

#banner .news a:hover {
	color: #CCC;
}

ul.what_news {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.what_news li {
	background: url(../images/bullet.png) left center no-repeat;
	padding-left: 10px;
}	


#content {
	background: url(../images/shadow-side.jpg) right top repeat-y;
}

#content .isi {
	padding-right: 9px;
	background: url(../images/shadow-top.jpg) right top no-repeat;
	padding-bottom: 20px;
}

#content .left {
	float: left;
	width: 223px;
	padding-bottom: 10px;
}

.content_tabs {
	display: none;
}

ul.menu_side {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.menu_side li {
	margin-bottom: 1px;
}

ul.menu_side li a {
	background: #FFF;
	display: block;
	height: 22px; /* 39 */
	text-decoration: none;
	font: bold 12px Tahoma;
	color: #000000;
	padding: 8px 0 0 20px;
}

ul.menu_side li a.active {
	background: #000;
	color: #FFF;
}

ul.menu_side li a:hover {
	background: #999;
	color: #FFF;
}

.marketting {
	clear: both;
	color: #FECD04;
	font-size: 14px;
	font-weight: bold;
	display: block;
}

a.detail {
	font-weight: bold;
	color: #919191;
	text-decoration: none;
}

a.detail:hover {
	color: #026CB8;
}

#content .middle {
	float: left;
	width: 401px; /* 411 */
	padding: 0 10px 10px 10px;
}

#content .middle img {
	max-width: 400px;
}

#content .right {
	float: right; 
	width: 269px; /* 279 */
	padding-right: 10px;
}

ul.chat {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.chat li {
	padding: 1px 0;
}

/*.box_partner {
	clear: both;
	float: right;
	width: 269px; 
	padding: 0 10px 0 0; 
	margin: 0;
	position: relative;
	top: 10px;
	_top: 0px;
	#top: 0px;
}*/

ul.partner {
	list-style: none;
	clear: both;
	float: right;
	width: 269px; 
	margin: 0;
	position: relative;
	right: 20px;
	top: -220px;
}

ul.partner li {
	padding-top: 5px;
	float: left;
	width: 131px;
	text-align: right;
}

ul.partner2 {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}

ul.partner2 li {
	padding-top: 10px;
	float: left;
	width: 100%;
	text-align: right;
}

#content .dua-kolom {
	float: left;
	width: 675px; /* 680 */
	padding: 0 10px 10px 10px;
}

#content .kanan-dua-kolom {
	float: left;
	width: 900px; /* 645px */
	padding: 10px;
}


#content .full {
	padding: 0 10px 10px 10px;
}

#footer .shadow {
	height: 10px;
	background: url(../images/shadow-bottom.jpg) no-repeat;
}

#cabang {
	margin: 17px 0 17px 0;
	font-weight: bold;
	text-align: center;
}


ul.cabang {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.cabang li {
	float: left;
	padding: 0 4px;
}

#footer {
	background-color: #FFFFFF;
	padding-bottom: 10px;
}

#footer .menu {
	padding-bottom: 9px;
	text-align: center;
}

#footer .menu a {
	border-right: 1px solid #717171;
	padding: 0 10px;
	color: #717171 ;
	text-decoration: none;
}

#footer .menu a:hover {
	color: #026CB8;
}

#footer .menu a.last {
	border-right: 0;
}

#footer .copy {
	padding-top: 9px;
	text-align: center;
}

.clear {
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	clear: both;
}

.table {
	margin-top: 5px;
	border-collapse: collapse;
}

.table th, .table td {
	padding: 0 2px;
	border: 1px solid #CCC;
	line-height: 20px;
}

.table th, .table .title {
	background: #F7F2B7;
}

.table tr {
	background: #FEFEE9 url(../images/tr_a.gif) left top no-repeat;
}

.table .tr_a {
	background: #FEFEE9 url(../images/tr_a.gif) left top no-repeat;
}

.table .tr_b {
	background: #FFF url(../images/tr_b.gif) left top no-repeat;
}

/* IE */
*.table td {
	background-image: none;
}

/* Akhir Content */

/*Untuk Paging*/
.paging {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.paging a {
	-moz-border-radius: 3px;
	background: url(../images/bg-paging.jpg) repeat-x;
	border: solid 1px #CCCCCC;
	font-weight: bold;
	text-align: center;
	color: #000;
	text-decoration: none;
	padding: 0 8px;
	margin: 0 2px;
}

.paging a:hover {
	background: #FCF8C7 url(../images/bg-paging-hover.jpg) repeat-x;
}

.paging a.active {
	background: #E8E8E8 url(../images/bg-paging-hover.jpg) repeat-x;
}

.paging a.active {
	cursor: default;
}
/*Akhir Paging*/

/* Awal Side Menu */
.side-menu {
	background: url(../images/side-shadow.jpg) right repeat-y;
	width: 199px;
}

.side-menu .title {
	background: url(../images/side-top.jpg) no-repeat;
	height: 20px; /* 25px */
	text-align: center;
	font: bold 13px Arial;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
	padding-top: 5px;
}


.side-menu .content {
	background: #FFF url(../images/side-bg.jpg) repeat-x;
	margin-right: 5px;
	/*min-height: 160px;*/
	padding: 10px 0;
}

.side-menu .content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side-menu .content ul li {
	padding: 5px 0;
}

.side-menu .content ul li a {
	display: block;
	background: url(../images/side.gif) repeat-x;
	font: bold 12px Arial;
	line-height: 25px;
	margin: 0 13px;
	color: #a3a1a1;
	padding-left: 10px;
	text-decoration: none;
}

.side-menu .content ul li ul {
	display: none;
}

.side-menu .content ul li.active ul {
	display: block;
}

.side-menu .content ul li.active a:hover, .side-menu .content ul li.active a {
	display: block;
	background: url(../images/side-active.gif) repeat-x;
	line-height: 25px;
	margin: 0 13px;
	color: #FFF;
}

.side-menu .content ul li ul li {
	background: url(../images/side-bullet.gif) left 8px no-repeat;
	margin-left: 25px;
	padding: 0;
}

.side-menu .content ul li.active ul li a {
	display: block;
	background: none;
	line-height: 18px;
	margin: 0 13px;
	padding-left: 0px;
	color: #404040;
}

.side-menu .content ul li.active ul li a:hover, .side-menu .content ul li.active ul li a.active {
	display: block;
	background: none;
	line-height: 18px;
	margin: 0 13px;
	color: #404040;
	text-decoration: underline;
}

.side-menu .bottom {
	background: url(../images/side-bottom.jpg) no-repeat;
	height: 7px;
}

/* Akhir Side Menu */

/* Sitemap */

ul.sitemap {
	margin: 0;
	padding: 0;
}

ul.sitemap ul li{
	list-style: circle;
	padding: 2px 0;
}

ul.sitemap ul li a {
	border: 0;
	color: #D3A503;
}

ul.sitemap li {
	list-style: none;
	padding: 8px 0;
}

ul.sitemap li a {
	border-bottom: 3px solid #CCC;
	color: #124D77;
}

ul.sitemap li strong {
	background: url(../images/bullet-sitemap.png) left -5px no-repeat;
	border-bottom: 1px solid #CCC;
	display: block;
	padding: 3px 30px;
	
}
/* Google Map */
#close {
	float: right;
}

#close a, #close a:visited {
	color: #FECD04;
	display: block;
	/*background-color: #000000;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0;
	text-decoration: none;
}

#close a:hover {
	color: #000000;
	/* background-color: #FECD04;*/
	text-decoration: none;
}

#idiframe {
	/*border: 2px solid  #000000;*/
	-moz-box-shadow: 3px 3px 3px #666;
	box-shadow: 3px 3px 3px #666;
}

#maparea {
	display:none; 
	padding: 10px 10px 35px 10px; 
	/*-moz-border-radius: 5px; 
	-moz-box-shadow: 3px 3px 3px #666;*/
	width:650px;
}

/* Untuk Toolbars */
.toolbar {
	padding: 5px 0 5px 5px;
	clear: both;
}

.toolbar a, .toolbar label {
	font-weight: bold;
	margin-right: 5px;
	text-align: center;
	width: auto;
	float: left;
	color: #663300;
}

.toolbar a:hover{
	text-decoration: none;
	color: #990000;
}

.toolbar label input {
	-moz-border-radius: 5px;
	padding: 5px;
	border: solid 1px #CCCCCC;
}

.toolbar a img {
	-moz-border-radius: 5px;
	border: solid 1px #CCCCCC;
	padding: 5px;
}

.toolbar a img:hover, .toolbar label input:hover  {
	padding: 6px 5px 4px 5px;
	border: solid 1px #CCCCCC;
}

fieldset {
	border: 1px dashed #CCC;
	margin: 10px 0;
}

fieldset legend {
	border: 1px solid #CCC;
}

#slide img {
	position: absolute;
}

/* Untuk Message */
#message{
	display: none; 
	position: fixed; 
	left: 30%; 
	top: 30px;
}

div.sukses, div.info, div.error {
	border-radius: 5px;
	-moz-border-radius: 5px;
	width: 400px;
	padding: 15px 40px;
	margin: 10px auto;
	text-align: center;
}
div.sukses{
	background: #d6fdce url(../images/success.png) no-repeat left center;
	border: solid 1px #99de8e;
}

div.info{
	background: #dce3ff url(../images/info.png) no-repeat left center;
	border: solid 1px #a4b8ed;
}

div.error{
	background: #ffcecf url(../images/error.png) no-repeat left center;
	border: solid 1px #df8f90;
}
/*Akhir Message*/